<div class="thumbnail portfolio-thumb">
    <img alt="Portfolio <%= id %>" src="<%= thumb %>" style="height:240px"/>
    <span class="zoom-in" data-id="<%= id %>" title="Click View detail"></span>
    <div class="caption">
      <p class="text-center"><span class="glyphicon glyphicon-user"></span> <%= author %></p>
      <p class="text-center"><span class="glyphicon glyphicon-time"></span> <%= release_date %></p>
      <p> <%= brief %></p>
    </div>
</div>